<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Vuetify Components Test</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
    <!--Add-->
    <link href="http://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet" type="text/css">
    <!--Add End-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
    <title>
        Wholesoler
    </title>
</head>

<body>
    <div id="app">
                        <!-- You can add some components here to test. -->
        
    <!--MY CSS-->
    <style>
        #pic_center {
            display:block; 
            margin:auto;   
            width:50%;         
        }
        #div_center1{ 
            width:100%;
            height:10%;
            text-align:center;
            /*;border:1px #000000 dashed;*/
        }
        #div_center2{ 
            width:100%;
            height:50%;
            text-align:center;
            /*;border:1px #000000 dashed;*/
        }
         #div_amount{ 
            width:10%;
            text-align:center;
            background-color:#ff458e;
            /*;border:1px #000000 dashed;*/
        }
       table{
           width:100%;
           height:30%;
           border-collapse:collapse;           
       }
        h1 h2 h3{
          font-family: Microsoft JhengHei
       }
        p{
            font-size:1.17em;
        }
        
        @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);  /*思源黑體*/

    </style>    <!--MY CSS END-->
       
<div bgcolor="#34bdeb">
    <div id="div_center1" style="background-color:#34bdeb;">
        <h1 style="text-align:left">Wholesaler</h1>
        <h2 style="text-align:right">Day/Time/Money</h2>
    </div>
    <div id="div_center1" style="background-color:#ffffff;">
        <!--some images-->
    </div>
    <div id="div_center2" style="background-color:#e4e4e4; font-family:Microsoft JhengHei;"><!--文字-->
    <!--未知數台車子--> 
        <font size="7">零售商下單</font>
            numbers
    
        <font size="7">台車子</font>
    
    <!--bottom-->
        <div class="text-xs-center">
            <v-modal v-model="modal">
                <v-btn slot="activator" primary dark>下單</v-btn>
                <v-card>
                    <v-card-text>
                        <h2 class="title">開始下訂單</h2>
                    </v-card-text>
                    <!--INPUT-->
                    <v-card class="grey lighten-4 elevation-0">
                        <v-card-text>
                            <v-container fluid>
                                <v-row row>
                                    <v-col xs8>
                                        <v-text-field name="input-1"label="數量"></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                    </v-card>
                    <!--INPUT END-->
                    
                    <v-card-row actions>
                        <v-spacer></v-spacer>
                        <v-btn flat v-on:click.native="modal = false" class="primary--text">Cancel</v-btn>
                        <v-btn flat v-on:click.native="modal = false" class="primary--text">Submit</v-btn>
                    </v-card-row>
                </v-card>
            </v-modal>
        </div>
    <!--bottom end-->  
    </div>
    <div id="aside_left" style="background-color:#ffffff">
        <!--list of order-->
        <!--VUE table-->
        <v-data-table v-bind:headers="headers"
                      v-model="items"
                      v-bind:search="search"
                      hide-actions
                      class="elevation-1">
            <template slot="items" scope="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.calories }}</td>
                <td class="text-xs-right">{{ props.item.fat }}</td>
                <td class="text-xs-right">{{ props.item.carbs }}</td>
                <td class="text-xs-right">{{ props.item.protein }}</td>
                <td class="text-xs-right">{{ props.item.sodium }}</td>
                <td class="text-xs-right">{{ props.item.calcium }}</td>
                <td class="text-xs-right">{{ props.item.iron }}</td>
            </template>
        </v-data-table>
        <!--VUE table end-->
        <table style="font-family:Microsoft JhengHei;   font-size:2em;  text-align:center">
            <caption style="font-size:1.5em">History order</caption>
            <tr>                
                <th>Day</th>
                <th>下單數量</th>
                <th>已取貨數量</th>
                <th>未取貨數量</th>
            </tr>
            <tr>
                <td style="font-size:1em">1   </td>
                <td style="font-size:1em">  ** </td>
                <td style="font-size:1em"> **  </td>
                <td style="font-size:1em">  ** </td>
            </tr>
            <tr>
                <td style="font-size:1em">2   </td>
                <td style="font-size:1em">  ** </td>
                <td style="font-size:1em"> **  </td>
                <td style="font-size:1em">  ** </td>
            </tr>
            <tr>
                <td style="font-size:1em">3   </td>
                <td style="font-size:1em">  ** </td>
                <td style="font-size:1em"> **  </td>
                <td style="font-size:1em">  ** </td>
            </tr>
            <tr>
                <td style="font-size:1em">4   </td>
                <td style="font-size:1em">  ** </td>
                <td style="font-size:1em"> **  </td>
                <td style="font-size:1em">  ** </td>
            </tr>
            <tr>
                <td style="font-size:1em">5   </td>
                <td style="font-size:1em">  ** </td>
                <td style="font-size:1em"> **  </td>
                <td style="font-size:1em">  ** </td>
            </tr>
            <tr>
                <td style="font-size:1em">6   </td>
                <td style="font-size:1em">  ** </td>
                <td style="font-size:1em"> **  </td>
                <td style="font-size:1em">  ** </td>
            </tr>
            <tr>
                <td style="font-size:1em">7   </td>
                <td style="font-size:1em">  ** </td>
                <td style="font-size:1em"> **  </td>
                <td style="font-size:1em">  ** </td>
            </tr>
        </table>
    </div>
    <div id="aside_right" style="background-color:gray;">
        <!--today's order-->
        <form style="width:auto; height:50%;">
            order<input type="number" />
            <input type="submit" value="submit"/>
            <input type="reset" value="reset"/>
        </form>
    </div>
</div>

        <!--END-->
    </div>
    <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        // add some property here
      }
    })
    </script>
</body>
</html>

